<ion-header [translucent]="true">
  <ion-toolbar class="customize">
    <ion-title style="letter-spacing: 1.2px;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-top: 2rem !important;">
  <form #f="ngForm" (ngSubmit)="login(f.value)">
    <ion-card>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input ngModel #email="ngModel" name="email" type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input ngModel #password="ngModel" name="password" type="password" required></ion-input>
        </ion-item>

        <br><ion-button class="btn-submit" type="submit" expand="block">Log in</ion-button><br>
        <ion-row class="ion-justify-content-center">
          <ion-label>New here? <span routerLink='/home/'>Sign Up</span> here</ion-label>
        </ion-row>
        <br>
    </ion-card>
    
   
  </form>

</ion-content>