.btn-submit{
    border: 1px solid #4c00da;
    height: 2rem;
    letter-spacing: 1px;
    --background: #fff;
    --color:  #4c00da;
}

ion-row > ion-label{
    font-size: 1rem;
}

ion-row > ion-label > span{
    font-size: 1rem;
    color: #4c00da;
}

.customize{
    --background: #4c00da;
    --color: #fff;
}

ion-item.item-has-focus > ion-label {
    color: #4c00da;
}

.card-center{
    width:95%; 
    display:block;
    margin: 0 auto;
}