ion-fab {
    color: wheat;

}

ion-fab-button {
    --background:#4c00da;
    height: 50px;
    width: 50px;
}

.div-img {
  height: 4rem;
  width: 4rem;
}
img{
    height: 100%;
    width: 100%;
}

ion-card{
    height: 5rem !important;
}

.title{
    color: black;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

// ion-toolbar{
//     --background:#b4f2e1;
// }

.logOutIcon{
    padding-right: 10px;
    font-size: 2rem;
    color: #ffffff;
}

.customize{
    --background: #4c00da;
    --color: #fff;
}

ion-item.item-has-focus > ion-label {
    color: #4c00da;
}