<ion-header> 
  <ion-toolbar color = "danger">
      <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-buttons color="dark">
      <div>
          <button class="large-button">
            <ion-icon name="bookmarks"></ion-icon>
          <br><br><b>
              EXAMS
          </b>
      </button>
          <button class="large-button">
            <ion-icon name="create"></ion-icon>
            <br><br><b>
              ATTENDANCE
          </b>
      </button>
      </div>
      <div>
          <button class="large-button">
            <ion-icon name="calendar"></ion-icon>
            <br><br><b>
              TIMETABLE
          </b>
      </button>
          <button class="large-button">
              <ion-icon name="megaphone"></ion-icon><br><br>
         <b> ANNOUNCEMENT </b>
      </button>
      </div>
  </ion-buttons>

</ion-content>
