ion-icon[name="close"] {
  justify-self: end;
  align-self: left;
  height: 1.2rem;
  width: 1.2rem;
}

ion-icon[name="close"]:hover {
  color: red;
}

.head{
  background-color :#3c77f8;
  color:white;
  vertical-align:center;
  text-align: center;
  height:3rem}

ion-icon[name="person-add"] {
  justify-self: end;
  align-self: center;
  height: 1rem;
  width: 1rem;
}

ion-fab {
  color: wheat;
}


ion-fab-button {
  height: 40px;
  width: 40px;
}
